@model WebApplication1.Models.Article

@{
    ViewBag.Title = "Create Article";
    Layout = "_Layout";
}

<h2>Опубликовать статью</h2>


<form method="post">
    <label>Название:</label><br />
    <input type="text" name="title" value="@Model.Title" /><br /><br />
    <label>Текст:</label><br />
    <textarea name="text" value="@Model.Text"></textarea>
    <input type="submit" value="Опубликовать" />
</form>

