@model WebApplication1.Models.User
@{
    ViewBag.Title = "Login";
}
 
<h2>Вход</h2>

<form method="post">
    <label>Логин:</label><br />
    <input type="text" name="login" value="@Model.Login" /><br /><br />
    <label>Пароль:</label><br />
    <input type="password" name="password" value="@Model.Password"/><br /><br />
    <input type="submit" value="Вход" />
</form>

<li><a asp-area="" asp-controller="Account" asp-action="Register">Создать новый аккаунт</a></li>