@model WebApplication1.Models.User
@{
    ViewBag.Title = "Register";
}
 
<h2>Регистрация</h2>

<form method="post">
    <label>Логин:</label><br />
    <input type="text" name="login" value="@Model.Login" /><br /><br />
    <label>Имя:</label><br />
    <input type="text" name="firstname" value="@Model.FirstName"/><br /><br />
    <label>Фамилия:</label><br />
    <input type="text" name="lastname" value="@Model.LastName"/><br /><br />
    <label>Пароль:</label><br />
    <input type="password" name="password" value="@Model.Password"/><br /><br />
    <input type="submit" value="Регистрация" />
</form>

<li><a asp-area="" asp-controller="Account" asp-action="Login">Вход в существующий аккаунт</a></li>