﻿@*@model IEnumerable<WebApplication1.Models.User>*@
@{
    //ViewData["Title"] = "Список статей";
    Layout = null;
    var users = ViewData["Users"] as List<User>;
    var articles = ViewData["Articles"] as List<Article>;
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Статьи пользователей</title>
</head>
<body>
<h3>Статьи</h3>
@*@foreach (var user in users)
{
    <p>
        @user.Login
    </p>
}*@
<table>
    <tr>
        <td>Название</td>
        <td>Автор</td>
        <td>Текст</td>
        <td></td>
    </tr>
    @foreach (var article in articles)
    {
        <tr>
            <td>@article.Title</td>
            <td>@string.Join(" ", article.Author.FirstName, article.Author.LastName)</td>
            <td>@article.Text</td>
        </tr>
    }
</table>
<li><a asp-area="" asp-controller="Account" asp-action="Login">Выйти</a></li>
</body>
</html>